.message
  .message__upper-info
    %p.message__upper__talker
      = message.user.name
    %p.message__upper-info__date
      = message.created_at
  %p.message__text
    = message.message
    = image_tag message.image