.side-header
  .side-header__box
    %p.side-header__box__user-name
      = current_user.name
    %ul.side-header__box__menu
      %li.side-header__box_mune__new-group
        = link_to new_group_path do
          %i.fa.fa-edit.my-white.fa-fw
      %li.side-header__box_mune__edit-user
        = link_to edit_user_path(current_user), method: :get do
          %i.fa.fa-cog.my-white.fa-fw
